<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登陆界面</title>
	<link rel="stylesheet" href="/static/css/index.css">
	<script>
		function changeCheckCode(){
			var img = document.getElementById("img");
			img.src = img.src+'?';
    }
	</script>

</head>
<body>
	<div class="container">
		<!-- 主体内容 （注册界面）-->
		<div class="main">
			<div class="sideright">
				<div class="index">
					<form action="/securety/register/" method="post">
                        {% csrf_token %}
						<p class="headline">用户注册</p>

						<p class="astyle">用户名：</p>
						<input type="text" name="username" placeholder="请输入用户名">

						<p class="astyle">密码：</p>
						<input type="password" name="password" placeholder="请输入密码">

                        <br>
                        <p  class="dstyle"><img src="/securety/get_check_code/" id="img" onclick="changeCheckCode()"></p>

						<p class="astyle">验证码：</p>
                        <input type="text" name="checkcode" placeholder="请输入验证码">


						<input type="submit" value="注册" name="register" >

					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
